<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页_Hella个人博客</title>
    <meta name="description" content="Hella个人博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'image/nasa-logo.svg' %}">
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/jquery.easyfader.min.js' %}"></script>
    <script src="{% static 'js/hc-sticky.js' %}"></script>
    <script src="{% static 'js/comm.js' %}"></script>
    <script src="{% static 'js/scrollReveal.js' %}"></script>
    <script src="{% static 'js/layer.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
    <header class="header-navigation" id="header">
        <nav>
            <div class="logo">
                <a href="https://www.hellanasa.com">Hella个人博客</a>
            </div>
            <h2 id="mnavh">
                <span class="navicon"></span>
            </h2>
            <ul id="starlist">
{#                <li><a href="/blog/index/">网站首页</a></li>#}
{#                <li><a href="/blog/about/">关于我</a></li>#}
{#                <li><a href="/blog/share/">知识库</a></li>#}
{#                <li><a href="/blog/list/">博客日记</a></li>#}
{#                <li><a href="/blog/fengmian/">学无止境</a>#}
{#                <li><a href="/blog/time/">时间轴</a></li>#}
                <li><a href="{% url 'blog:index/' %}">网站首页</a></li>
                <li><a href="{% url 'blog:about/' %}">关于我</a></li>
                <li><a href="{% url 'blog:share/' %}">知识库</a></li>
                <li><a href="{% url 'blog:list/' %}">博客日记</a></li>
                <li><a href="{% url 'blog:cover/' %}">学无止境</a>
                <li><a href="{% url 'blog:time/' %}">时间轴</a></li>
{#                                <li><a href="/blog/info/">慢生活</a></li>#}
            </ul>
{#            <div class="searchbox">#}
{#                <div id="search_bar" class="search_bar">#}
{#                    <form  id="searchform" method="post" name="searchform">#}
{#                        {% csrf_token %}#}
{#                        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">#}
{#                        <input type="hidden" name="show" value="title" />#}
{#                        <input type="hidden" name="tempid" value="1" />#}
{#                        <input type="hidden" name="tbname" value="news">#}
{#                        <input type="hidden" name="Submit" value="搜索" />#}
{#                        <p class="search_ico" onclick="hunt()"> <span></span></p>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
        </nav>
    </header>
    <article>
        <!--banner begin-->
{#        <div class="banner">#}
{#            <div id="banner" class="fader">#}
{#                <li class="slide" >#}
{#                    <a href="/" target="_blank">#}
{#                        <img src="/static/image/1.jpg">#}
{#                        <span class="imginfo">别让这些闹心的套路，毁了你的网页设计!</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="slide" >#}
{#                    <a href="/" target="_blank">#}
{#                        <img src="/static/image/2.jpg">#}
{#                        <span class="imginfo">网页中图片属性固定宽度，如何用js改变大小</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="slide" >#}
{#                    <a href="/" target="_blank">#}
{#                        <img src="/static/image/3.jpg">#}
{#                        <span class="imginfo">个人博客，属于我的小世界！</span>#}
{#                    </a>#}
{#                </li>#}
{#                <div class="fader_controls">#}
{#                    <div class="page prev" data-target="prev">&lsaquo;</div>#}
{#                    <div class="page next" data-target="next">&rsaquo;</div>#}
{#                    <ul class="pager_list"></ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!--banner end-->#}
{#        <div class="toppic">#}
{#            <li>#}
{#                <a href="/" target="_blank"> <i><img src="/static/image/1.jpg"></i>#}
{#                <h2>安静地做一个爱设计的女子</h2>#}
{#                <span>学无止境</span> </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="/" target="_blank"> <i><img src="/static/image/2.jpg"></i>#}
{#                <h2>个人博客，属于我的小世界！</h2>#}
{#                <span>学无止境</span> </a>#}
{#            </li>#}
{#        </div>#}
        <main>
{#            <div class="news_box">#}
{#                <ul>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/">#}
{#                                <img src="/static/image/1.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <h3>#}
{#                            <a href="/">html5个人博客模板《simple》</a>#}
{#                        </h3>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/">#}
{#                                <img src="/static/image/2.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <h3>#}
{#                            <a href="/">html5古典个人博客模板《青砖屋檐》</a>#}
{#                        </h3>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/">#}
{#                                <img src="/static/image/3.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <h3>#}
{#                            <a href="/">第二届 优秀个人博客模板比赛参选活动</a>#}
{#                        </h3>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/">#}
{#                                <img src="/static/image/4.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <h3>#}
{#                            <a href="/">html5个人博客模板《More》</a>#}
{#                        </h3>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/">#}
{#                                <img src="/static/image/5.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <h3>#}
{#                            <a href="/">D设计师博客-一个热爱生活的设计师</a>#}
{#                        </h3>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/">#}
{#                                <img src="/static/image/6.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <h3>#}
{#                            <a href="/">个人博客用帝国cms 自定义页面 灵动标签调用网站所有信息</a>#}
{#                        </h3>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="pics">#}
{#                <ul>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/news/life/2018-06-17/873.html" target="_blank">#}
{#                                <img src="/static/image/p1.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <span>安静地做一个爱设计的女子</span>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/news/life/2018-04-27/816.html" target="_blank">#}
{#                                <img src="/static/image/p2.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <span>个人博客，属于我的小世界！（可以是广告）</span>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i>#}
{#                            <a href="/jstt/bj/2015-01-09/740.html" target="_blank">#}
{#                                <img src="/static/image/p3.jpg">#}
{#                            </a>#}
{#                        </i>#}
{#                        <span>【匆匆那些年】总结个人博客经历的这四年…</span>#}
{#                    </li>#}
{#                 </ul>#}
{#            </div>#}
            <div class="blogtab">
                <ul id="blogtab">
                    <li class="current">最新文章</li>
{#                    <li><a href="list.html">心得笔记</a></li>#}
{#                    <li><a href="list.html">CSS3|Html5</a></li>#}
{#                    <li><a href="list.html">网站建设</a></li>#}
{#                    <li><a href="list.html">文字标签</a></li>#}
{#                    <li><a href="list.html">文字广告</a></li>#}
                </ul>
                {% for content in article %}
                    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
                        <h3 class="blogtitle">
                            <a href="{% url 'blog:article/' content.id %}" target="_blank">{{ content.title }}</a>
                        </h3>
                        <span class="blogpic">
                            <a href="{% url 'blog:article/' content.id %}" title="">
                                <img src="/static/image/1.jpg" alt="">
                            </a>
                        </span>
                        <p class="blogtext">{{ content.intro }}</p>
                        <div class="bloginfo">
                            <ul>
                            <li class="author"><a href="/">{{ content.user__username }}</a></li>
                            <li class="lmname"><a href="/">{{ content.sort__name }}</a></li>
                            <li class="timer">{{ content.time|date:'Y-m-d' }}</li>
                            <li class="view"><span>{{ content.number }}</span>已阅读</li>
{#                            <li class="like">9999</li>#}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                    </h3>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view">4567已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bplist">#}
{#                        <a href="/" title="">#}
{#                            <li><img src="/static/image/2.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/3.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/4.jpg" alt=""></li>#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bigpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/5.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="blogpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/6.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                    </h3>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view">4567已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bplist">#}
{#                        <a href="/" title="">#}
{#                            <li><img src="/static/image/7.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/8.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/9.jpg" alt=""></li>#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bigpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/10.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="blogpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/1.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                    </h3>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view">4567已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bplist">#}
{#                        <a href="/" title="">#}
{#                            <li><img src="/static/image/2.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/3.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/4.jpg" alt=""></li>#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bigpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/5.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="blogpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/6.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                    </h3>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view">4567已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bplist">#}
{#                        <a href="/" title="">#}
{#                            <li><img src="/static/image/7.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/8.jpg" alt=""></li>#}
{#                            <li><img src="/static/image/9.jpg" alt=""></li>#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                    <h3 class="blogtitle">#}
{#                        <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                    </h3>#}
{#                    <span class="bigpic">#}
{#                        <a href="/" title="">#}
{#                            <img src="/static/image/10.jpg" alt="">#}
{#                        </a>#}
{#                    </span>#}
{#                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                    <div class="bloginfo">#}
{#                        <ul>#}
{#                            <li class="author"><a href="/">Hella</a></li>#}
{#                            <li class="lmname"><a href="/">学无止境</a></li>#}
{#                            <li class="timer">2018-5-13</li>#}
{#                            <li class="view"><span>34567</span>已阅读</li>#}
{#                            <li class="like">9999</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </main>
        <aside class="r_box" >
            <div class="about_me">
                <h2>博主简介</h2>
                <ul>
                  <i><img src="/static/image/4.jpg"></i>
                  <p><b>Hella</b>，一个95后站长。18年入行，一直潜心研究python技术，一边工作一边积累经验，分享一些个人心得，以及对一些技术的理解。</p>
                </ul>
            </div>
{#            <div class="wdxc">#}
{#                <h2>分类精选</h2>#}
{#                <ul>#}
{#                    <li><a href="/"><img src="{% static 'image/docker04.png' %}"></a></li>#}
{#                    <li><a href="/"><img src="{% static 'image/linux01.png' %}"></a></li>#}
{#                    <li><a href="/"><img src="{% static 'image/redis02.png' %}"></a></li>#}
{#                    <li><a href="/"><img src="{% static 'image/mysql01.png' %}"></a></li>#}
{#                    <li><a href="/"><img src="{% static 'image/django.jpg' %}"></a></li>#}
{#                    <li><a href="/"><img src="{% static 'image/ppp.png' %}"></a></li>#}
{#                </ul>#}
{#            </div>#}
            <div class="fenlei">
                <h2>文章分类</h2>
                <ul>
                    {% for i in sort_obj %}
                        <li>
                            <a href="{% url 'blog:clafy/' i.id %}">{{ i.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tuijian">
                <h2 id="tab">
                    <a href="#"class="current">活动公告</a>
                    <a href="#">点击排行</a>
                    <a href="#">站长推荐</a>
                </h2>

                <div id="content">
                    <ul style="display:block;">
                        <li><a href="#">第二届 优秀个人博客模板比赛参选活动</a></li>
                        <li><a href="#">【活动作品】柠檬绿兔小白个人博客模板</a></li>
                        <li><a href="#">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                        <li><a href="#">2014年度优秀个人博客评选活动</a></li>
                        <li><a href="#">你是什么人便会遇上什么人</a></li>
                        <li><a href="#">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                        <li><a href="#">第二届 优秀个人博客模板比赛参选活动</a></li>
                        <li><a href="#">个人博客模板《绅士》后台管理</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">你是什么人便会遇上什么人</a></li>
                        <li><a href="#">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                        <li><a href="#">第二届 优秀个人博客模板比赛参选活动</a></li>
                        <li><a href="#">个人博客模板《绅士》后台管理</a></li>
                        <li><a href="#">你是什么人便会遇上什么人</a></li>
                        <li><a href="#">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                        <li><a href="#">第二届 优秀个人博客模板比赛参选活动</a></li>
                        <li><a href="#">黑色质感时间轴html5个人博客模板</a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.sojson.com/">jSON在线解析</a></li>
                        <li><a href="#">D设计师博客-一个热爱生活的设计师</a></li>
                        <li><a href="#">东轩博客，我看到了你的坚持！</a></li>
                        <li><a href="#">程序员创业，就得“豁得出去”！</a></li>
                        <li><a href="#">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>
                        <li><a href="#">《奋斗电商》看知名微商如何做博客引流？</a></li>
                        <li><a href="#">《寻之旅》一个关于旅游，游记的个人博客</a></li>
                        <li><a href="#">【匆匆那些年】总结个人博客经历的这四年</a></li>
                    </ul>
                </div>
            </div>
            <div class="guanzhu">
                <h2>关注我死党 么么哒</h2>
                <ul>
                    <img src="{% static 'image/xy.jpg' %}">
                </ul>
            </div>
        </aside>
    </article>
    <footer>
        <p>Design by
            <a href="https://www.hellanasa.com" target="_blank">Hella个人博客</a>
            <a href="/">蜀ICP备11002373号-1</a>
            <a href="/" class="links">友情链接</a>
        </p>
    </footer>
    <a href="#" class="cd-top">Top</a>
</body>
</html>
<script>
    function hunt() {
        $.ajax({
            type : 'POST',
            url : "/blog/hunt/",
            data : {
                message:document.getElementById("keyboard").value,
            },
            dataType : 'JSON',
            headers : {'X-CSRFToken':"{{ csrf_token }}"},
            success : function (data) {
                if (data.status === 'success') {
                    location.href = data.urls
                } else if (data.status === 'fail') {
                    layer.msg(data['message']);
                }
            },
        })
    }
</script>