<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页_Hella个人博客</title>
    <meta name="keywords" content="个人博客,Hella个人博客" />
    <meta name="description" content="Hella个人博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'image/nasa-logo.svg' %}">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/jquery.easyfader.min.js"></script>
    <script src="/static/js/hc-sticky.js"></script>
    <script src="/static/js/comm.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
    <header class="header-navigation" id="header">
        <nav>
            <div class="logo">
                <a href="https://www.hellanasa.com">Hella个人博客</a>
            </div>
            <h2 id="mnavh">
                <span class="navicon"></span>
            </h2>
            <ul id="starlist">
                <li><a href="{% url 'blog:index/' %}">网站首页</a></li>
                <li><a href="{% url 'blog:about/' %}">关于我</a></li>
                <li><a href="{% url 'blog:share/' %}">知识库</a></li>
                <li><a href="{% url 'blog:list/' %}">博客日记</a></li>
                <li><a href="{% url 'blog:cover/' %}">学无止境</a>
                <li><a href="{% url 'blog:time/' %}">时间轴</a></li>
{#                <li><a href="/blog/info/">慢生活</a></li>#}
            </ul>
{#            <div class="searchbox">#}
{#                <div id="search_bar" class="search_bar">#}
{#                    <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">#}
{#                        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">#}
{#                        <input type="hidden" name="show" value="title" />#}
{#                        <input type="hidden" name="tempid" value="1" />#}
{#                        <input type="hidden" name="tbname" value="news">#}
{#                        <input type="hidden" name="Submit" value="搜索" />#}
{#                        <p class="search_ico"> <span></span></p>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
        </nav>
    </header>
    <article>
        <main>
            {% for i in article_obj %}
                <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
                    <h3 class="blogtitle">
                        <a href="{% url 'blog:article/' i.id %}" target="_blank">{{ i.title }}</a>
                    </h3>
                    <span class="blogpic">
                        <a href="{% url 'blog:article/' i.id %}" title="">
                            <img src="/static/image/1.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">{{ i.intro }}</p>
                    <div class="bloginfo">
                        <ul>
                            <li class="author"><a href="{% url 'blog:article/' i.id %}">{{ i.user__username }}</a></li>
                            <li class="lmname"><a href="{% url 'blog:article/' i.id %}">{{ i.sort__name }}</a></li>
                            <li class="timer">{{ i.time|date:'Y-m-d' }}</li>
                            <li class="view"><span>{{ i.number }}</span>已阅读</li>
{#                            <li class="like">9999</li>#}
                        </ul>
                    </div>
                </div>
            {% endfor %}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                </h3>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view">4567已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bplist">#}
{#                    <a href="/" title="">#}
{#                        <li><img src="/static/image/2.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/3.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/4.jpg" alt=""></li>#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bigpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/5.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="blogpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/6.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                </h3>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view">4567已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bplist">#}
{#                    <a href="/" title="">#}
{#                        <li><img src="/static/image/7.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/8.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/9.jpg" alt=""></li>#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bigpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/10.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="blogpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/1.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                </h3>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view">4567已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bplist">#}
{#                    <a href="/" title="">#}
{#                        <li><img src="/static/image/2.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/3.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/4.jpg" alt=""></li>#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bigpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/5.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="blogpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/6.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a>#}
{#                </h3>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view">4567已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bplist">#}
{#                    <a href="/" title="">#}
{#                        <li><img src="/static/image/7.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/8.jpg" alt=""></li>#}
{#                        <li><img src="/static/image/9.jpg" alt=""></li>#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >#}
{#                <h3 class="blogtitle">#}
{#                    <a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a>#}
{#                </h3>#}
{#                <span class="bigpic">#}
{#                    <a href="/" title="">#}
{#                        <img src="/static/image/10.jpg" alt="">#}
{#                    </a>#}
{#                </span>#}
{#                <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
{#                <div class="bloginfo">#}
{#                    <ul>#}
{#                        <li class="author"><a href="/">Hella</a></li>#}
{#                        <li class="lmname"><a href="/">学无止境</a></li>#}
{#                        <li class="timer">2018-5-13</li>#}
{#                        <li class="view"><span>34567</span>已阅读</li>#}
{#                        <li class="like">9999</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
            <div class="pagelist">
                {% if topic_obj.has_previous %}
                    <li>
                        <a href="?page={{ topic_obj.previous_page_number }}"></a>
                    </li>
                    <li>
                        <a class="pagin" href="?page={{ topic_obj.previous_page_number }}">
                            <span>上一页</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in pageRange %}
                    <li class="paginItem{% if num == currentPage %}current{% endif %}">
                        <a href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if topic_obj.has_next %}
                    <li>
                        <a href="?page={{ topic_obj.next_page_number }}"></a>
                    </li>
                    <li>
                        <a class="pagin" href="?page={{ topic_obj.next_page_number }}">
                            <span>下一页</span>
                        </a>
                    </li>
                {% endif %}
            </div>
        </main>
        <aside class="r_box" >
{#            <div class="wdxc">#}
{#                <h2>图文精选</h2>#}
{#                <ul>#}
{#                    <li><a href="/"><img src="/static/image/7.jpg"></a></li>#}
{#                    <li><a href="/"><img src="/static/image/8.jpg"></a></li>#}
{#                    <li><a href="/"><img src="/static/image/9.jpg"></a></li>#}
{#                    <li><a href="/"><img src="/static/image/10.jpg"></a></li>#}
{#                    <li><a href="/"><img src="/static/image/11.jpg"></a></li>#}
{#                    <li><a href="/"><img src="/static/image/12.jpg"></a></li>#}
{#                </ul>#}
{#            </div>#}
            <div class="cloud">
                <h2>标签云</h2>
                <ul>
                    {% for clafy in clafy_obj %}
                        <a href="{% url 'blog:article/' clafy.id %}">{{ clafy.name }}</a>
                    {% endfor %}
{#                    <a href="/">Django</a>#}
{#                    <a href="/">Mysql</a>#}
{#                    <a href="/">Linux</a>#}
{#                    <a href="/">Redis</a>#}
{#                    <a href="/">Mongodb</a>#}
{#                    <a href="/">Postman</a>#}
{#                    <a href="/">C#</a>#}
{#                    <a href="/">索尼</a>#}
{#                    <a href="/">华维荣耀</a>#}
{#                    <a href="/">三星</a>#}
{#                    <a href="/">索尼</a>#}
                </ul>
            </div>
            <div class="tuijian">
                <h2 id="tab">
                    <a href="#"class="current">点击排行</a>
                    <a href="#">站长推荐</a>
                </h2>
                <div id="content">
                    <ul style="display:block;">
                        <li><a href="#">第二届 优秀个人博客模板比赛参选活动</a></li>
                        <li><a href="#">【活动作品】柠檬绿兔小白个人博客模板</a></li>
                        <li><a href="#">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                        <li><a href="#">2014年度优秀个人博客评选活动</a></li>
                        <li><a href="#">你是什么人便会遇上什么人</a></li>
                        <li><a href="#">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                        <li><a href="#">第二届 优秀个人博客模板比赛参选活动</a></li>
                        <li><a href="#">个人博客模板《绅士》后台管理</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">个人博客，我为什么要用帝国cms？</a></li>
                        <li><a href="#">D设计师博客-一个热爱生活的设计师</a></li>
                        <li><a href="#">东轩博客，我看到了你的坚持！</a></li>
                        <li><a href="#">程序员创业，就得“豁得出去”！</a></li>
                        <li><a href="#">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>
                        <li><a href="#">《奋斗电商》看知名微商如何做博客引流？</a></li>
                        <li><a href="#">《寻之旅》一个关于旅游，游记的个人博客</a></li>
                        <li><a href="#">【匆匆那些年】总结个人博客经历的这四年</a></li>
                    </ul>
                </div>
            </div>
            <div class="guanzhu">
                <h2>关注我死党 么么哒</h2>
                <ul>
                    <img src="{% static 'image/xy.jpg' %}">
                </ul>
            </div>
        </aside>
    </article>
    <footer>
        <p>Design by
            <a href="https://www.hellanasa.com" target="_blank">Hella个人博客</a>
            <a href="/">蜀ICP备11002373号-1</a>
            <a href="/" class="links">友情链接</a>
        </p>
    </footer>
    <a href="#" class="cd-top">Top</a>
</body>
</html>
